body{
    background-image: url(/home/mark/Pitch/app/static/photos/benjamin-sow-CB4z0uTFSYg-unsplash.jpg);
    font-family: 'Lacquer', sans-serif;
    font-size: 60px;




}
.mark{
    animation-duration: 4s;
    animation-delay: 3s;
}