{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}


{%for pitches in pitches%}
<table class="table col-md 12">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Pitch Title</th>
            <th scope="col">Pitch Post</th>
            <th scope="col">Pitch category</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{pitches.id}}</th>
            <td>{{pitches.title}}</td>
            <td>{{pitches.post}}</td>
            <td>{{pitches.category}}</td>
          </tr>
        </tbody>
      </table>
{%endfor%}

{% endblock %}
